{% extends 'customer_panel/profile/profile_base.html' %}

{% block profile_content %}

<div class="content-card">

    <div class="page-header">
        <h2>اطلاعات حساب کاربری</h2>
    </div>

    <div class="info-grid">

        <div class="info-box">
            <label>نام</label>
            <strong>{{ request.user.first_name }}</strong>
        </div>

        <div class="info-box">
            <label>نام خانوادگی</label>
            <strong>{{ request.user.last_name }}</strong>
        </div>

        <div class="info-box">
            <label>شماره موبایل</label>
            <strong>{{ request.user.mobile }}</strong>
        </div>

        <div class="info-box">
            <label>ایمیل</label>
            <strong>{{ request.user.email|default:"ثبت نشده" }}</strong>
        </div>

    </div>

</div>

{% endblock %}